body {
	margin: 0 auto;
	box-sizing: border-box;
	background-image: url(../img/fondo.jpg);
	background-size: 100%;
	padding: 0;
}
/*clase universal para boxsizing*/
*{
	 -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
      box-sizing: border-box;
}


header {
	text-align: center;
	background-color: #64CDF6;

}
.blue{
	color: #64CDF6;
}

.violet{
	color: violet;
}

h1 {
	margin: 0%;
	height: 60px;
	padding-top: 15px;
	font-size: 40px;
	color: #fff;
	font-family: 'Cutive Mono', monospace;
	font-size:2.7em;
}

.presentation {
	width: 35%;
	height: 250px;
	background-color: #fff;
	box-sizing: border-box;
	display: inline-block;
	margin-left: 5em;
}


h2 {
	margin: 0;
}

h4{
	color: #1DA1F2;
}

.tweet{
	width: 35%;
	height: 250px;
	background-color: #fff;
	box-sizing: border-box;
	display: inline-block;
	float: right;
	margin-right: 5em;

}

#btn{
	background-color : #1DA1F2;
	color: #fff;
	height: 3em;
	width: 13em;
	border-radius: 6px;
}

textarea{
	border: none;
	border-bottom: 2px solid gray; 
	width: 100%;
}

#contenedor{
	width: 88%;
	margin: 0 auto;
	text-align: left;
	margin-bottom: 6em;
	color: #000;
	padding-left: 0;
	padding-top:3pc;
}

#contenedor div {
	background-color: #fff;
	border-radius: 10px;
	padding:1em 0.5em;
	margin-bottom: 2em;
}

#contenedor div p{
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 10px;
}